Repository componentProject/react-component: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

perf: 修改流水线
  .docs/.vitepress/config.ts
  .github/workflows/deploy-vitepress.yml
  .github/workflows/deploy.yml
  algolia.json
  package.json
Due: prettier --write

perf: 修复错误
  .stories/Space.stories.tsx
  tsconfig.app.json
Due: prettier --write

perf: 修复错误
  package.json
  pnpm-lock.yaml
Due: none

perf: 修复错误
  .gitignore
Due: none

perf: readme
  README.md
Due: prettier --write

perf: readme
  .docs/.vitepress/config.ts
Due: prettier --write

perf: 添加vitepress的md
  .docs/.vitepress/config.ts
  .docs/api-examples.md
  .docs/examples/Calendar.md
  .docs/examples/ConfigProvider.md
  .docs/examples/CopyToClipboard.md
  .docs/examples/DragTable.md
  .docs/examples/Icon.md
  .docs/examples/Iconfont.md
  .docs/examples/LazyLoad.md
  .docs/examples/MutateObserver.md
  .docs/examples/Portal.md
  .docs/examples/Space.md
  .docs/examples/Watermark.md
  .docs/examples/index.md
  .docs/guild/index.md
  .docs/index.md
  .docs/markdown-examples.md
Due: prettier --write

perf: 添加vitepress的md
  .docs/.vitepress/theme/index.js
  .docs/.vitepress/utils/index.ts
  .gitignore
Due: prettier --write

perf: readme
  .docs/.vitepress/config.ts
  .docs/navs/components.md
Due: prettier --write

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/utils/index.ts
  .docs/components/Calendar.md
  .docs/components/ConfigForm.md
  .docs/components/ConfigProvider.md
  .docs/components/CopyToClipboard.md
  .docs/components/DragTable.md
  .docs/components/Icon.md
  .docs/components/Iconfont.md
  .docs/components/IntersectObserver.md
  .docs/components/LazyLoad.md
  .docs/components/MutateObserver.md
  .docs/components/Portal.md
  .docs/components/Space.md
  .docs/components/Watermark.md
  .docs/components/index.md
  .docs/navs/components.md
  .docs/posts/components.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/theme/utils.ts
  .docs/.vitepress/utils/index.ts
  .docs/index.md
  .docs/navs/archives.md
  .docs/navs/index.md
  .docs/navs/tags.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/前端已死.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
  .docs/public/20210413231645.png
  .docs/public/20210414120037.png
  .docs/public/20210414121015.gif
  .docs/public/20210414121928.gif
  .docs/public/WeChatd288ba57261eae3fef086b7f0abcff78.png
  .docs/public/WeChatf903a2cdf12631278f330b086b4b2fd8.png
  .docs/public/avator.png
  .docs/public/cerbot.png
  .docs/public/horse.svg
  .github/workflows/deploy.yml
Due: prettier --write, stylelint --fix

perf: 修改blog
  .github/workflows/deploy.yml
Due: none

Revert "perf: 修改blog"
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/index.ts
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/theme/utils.ts
  .docs/.vitepress/utils/index.ts
  .docs/index.md
  .docs/navs/archives.md
  .docs/navs/index.md
  .docs/navs/tags.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/前端已死.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
  .docs/public/20210413231645.png
  .docs/public/20210414120037.png
  .docs/public/20210414121015.gif
  .docs/public/20210414121928.gif
  .docs/public/WeChatd288ba57261eae3fef086b7f0abcff78.png
  .docs/public/WeChatf903a2cdf12631278f330b086b4b2fd8.png
  .docs/public/avator.png
  .docs/public/cerbot.png
  .docs/public/horse.svg
  .github/workflows/deploy.yml
Due: prettier --write, stylelint --fix

perf: 修改blog
  package.json
Due: none

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/serverUtils.ts
  .docs/.vitepress/utils/index.ts
  .docs/components/前端已死.md
  .docs/posts/TypeScript学习笔记.md
  .docs/posts/博客开启https.md
  .docs/posts/变量提升.md
  .docs/posts/随便说点啥.md
  pnpm-lock.yaml
Due: prettier --write

perf: 修改blog
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/utils/serverUtils.ts
  .docs/.vitepress/utils/utils.ts
Due: prettier --write

perf: 修改blog
  .storybook/.stories/Calendar.stories.tsx
  .storybook/.stories/ConfigProvider.stories.tsx
  .storybook/.stories/CopyToClipboard.stories.tsx
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/Iconfont.stories.tsx
  .storybook/.stories/LazyLoad.stories.tsx
  .storybook/.stories/MutateObserver.stories.tsx
  .storybook/.stories/Portal.stories.tsx
  .storybook/.stories/Space.stories.tsx
  .storybook/.stories/Watermark.stories.tsx
  .storybook/.stories/assets/images/img1.png
  .storybook/.stories/assets/images/img2.png
  .storybook/.stories/assets/styles/Space.css
  .storybook/.stories/components/Guang.tsx
  .storybook/main.ts
  eslint.config.js
  hooks/useCookie.ts
  hooks/useCountDown.ts
  hooks/useHover.ts
  hooks/useLifecycles.ts
  hooks/useMountedState.ts
  hooks/useScrolling.ts
  hooks/useSize.ts
  hooks/useTimeout.ts
  hooks/useWhyDidYouUpdate.ts
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
Due: prettier --write, stylelint --fix

feat: 添加hook
  .storybook/.stories/hook.stories.tsx
  hooks/useHover.ts
  src/hooks/index.ts
  src/hooks/useCookie.ts
  src/hooks/useCountDown.ts
  src/hooks/useHover.ts
  src/hooks/useLifecycles.ts
  src/hooks/useMountedState.ts
  src/hooks/useScrolling.ts
  src/hooks/useSize.ts
  src/hooks/useTimeout.ts
  src/hooks/useWhyDidYouUpdate.ts
Due: prettier --write

build: 修改打包
  package.json
  pnpm-lock.yaml
  tsconfig.app.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --write

feat: 添加国际化
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/locales/index.ts
  src/locales/lang/en.ts
  src/locales/lang/zh.ts
Due: prettier --write

feat: 添加shadcn
  components.json
  package.json
  pnpm-lock.yaml
  src/assets/styles/tailwind.scss
  src/index.css
  src/lib/utils.ts
  src/main.tsx
  stylelint.config.js
  tailwind.config.js
  tsconfig.app.json
  tsconfig.json
Due: prettier --write, stylelint --fix

build: 修改插件
  .env
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: prettier --write

refactor: 修改环境变量
  .env.production
Due: none

refactor: 修改something
  vite.config.ts
Due: prettier --write

feat: 添加message
  .storybook/.stories/Message.stories.tsx
  .storybook/.stories/hook.stories.tsx
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Calendar/components/MonthCalendar.tsx
  src/components/Message/ConfigProvider.tsx
  src/components/Message/MessageProvider.scss
  src/components/Message/MessageProvider.tsx
  src/components/Message/index.ts
  src/components/Message/useMessage.tsx
  src/components/Message/useStore.tsx
  src/components/Message/useTimer.tsx
Due: prettier --write, stylelint --fix

fix: 修改类型
  src/components/Calendar/components/MonthCalendar.tsx
  src/components/Message/MessageProvider.tsx
Due: prettier --write

feat: popover
  .storybook/.stories/Popover.stories.tsx
  package.json
  pnpm-lock.yaml
  src/components/Popover/index.css
  src/components/Popover/index.tsx
Due: prettier --write, stylelint --fix

feat: popover
  .storybook/.stories/Popover.stories.tsx
Due: prettier --write

feat: 添加描述
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/LazyLoad.stories.tsx
  .storybook/.stories/MutateObserver.stories.tsx
  .storybook/.stories/Popover.stories.tsx
  .storybook/.stories/Portal.stories.tsx
  .storybook/.stories/components/Guang.tsx
  .storybook/.stories/components/momo.tsx
Due: prettier --write

feat: 添加描述
  .storybook/.stories/Icon.stories.tsx
  .storybook/.stories/Portal.stories.tsx
  .storybook/.stories/Space.stories.tsx
  src/components/Space/index.tsx
Due: prettier --write

feat: 添加ColorPicker
  .storybook/.stories/ColorPicker.stories.tsx
  .storybook/.stories/Message.stories.tsx
  .storybook/.stories/Popover.stories.tsx
  package.json
  pnpm-lock.yaml
  src/components/ColorPicker/ColorPickerPanel.tsx
  src/components/ColorPicker/Handler.tsx
  src/components/ColorPicker/Palette.tsx
  src/components/ColorPicker/Transform.tsx
  src/components/ColorPicker/color.ts
  src/components/ColorPicker/index.scss
  src/components/ColorPicker/index.ts
  src/components/ColorPicker/interface.ts
  src/components/ColorPicker/useColorDrag.ts
  src/components/ColorPicker/utils.ts
  src/components/Popover/index.tsx
Due: prettier --write, stylelint --fix

feat: 漫游导航
  .storybook/.stories/OnBoarding.stories.tsx
  package.json
  pnpm-lock.yaml
  src/components/OnBoarding/Mask.tsx
  src/components/OnBoarding/getMaskStyle.ts
  src/components/OnBoarding/index.scss
  src/components/OnBoarding/index.tsx
Due: prettier --write, stylelint --fix

feat: 漫游导航,并修改popover,message,导航的zIndex管理
  src/components/Message/useStore.tsx
  src/components/OnBoarding/Mask.tsx
  src/components/OnBoarding/index.scss
  src/components/OnBoarding/index.tsx
  src/components/Popover/index.css
  src/components/Popover/index.tsx
  src/components/utils/index.ts
Due: prettier --write, stylelint --fix

fix: ts bug
  src/components/ColorPicker/Palette.tsx
  src/components/ColorPicker/useColorDrag.ts
  src/components/Message/useStore.tsx
  src/components/OnBoarding/Mask.tsx
  src/components/Popover/index.tsx
  src/utils/index.ts
Due: prettier --write

fix: ts bug
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/theme/rss.ts
  .docs/.vitepress/utils/index.ts
  .docs/.vitepress/utils/serverUtils.ts
  .docs/.vitepress/utils/utils.ts
  package.json
  pnpm-lock.yaml
  src/components/ColorPicker/utils.ts
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md}
  stylelint --fix: any of: *.{css,scss,less}
