Repository componentProject/react-component: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix

feat: upload
  .storybook/.stories/Upload.stories.tsx
  package.json
  pnpm-lock.yaml
  server/package.json
  server/uploadFile.js
  src/components/Upload/Dragger.tsx
  src/components/Upload/UploadList.tsx
  src/components/Upload/index.scss
  src/components/Upload/index.tsx
  tsconfig.app.json
Due: prettier --write, stylelint --fix

feat: upload
  .gitignore
  .storybook/.stories/Upload.stories.tsx
Due: prettier --write

build: 优化
  .env
  package.json
  pnpm-lock.yaml
  src/assets/styles/main.css
  vite.config.ts
Due: prettier --write, stylelint --fix

fix: ts bug
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/utils/utils.ts
  package.json
  pnpm-lock.yaml
  src/utils/index.ts
Due: prettier --write

fix: ts bug
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/utils/index.ts
  .docs/.vitepress/utils/utils.ts
  src/components/KeepAlive/index.tsx
Due: prettier --write

fix: ts bug
  tsconfig.app.json
Due: none

fix: ts bug
  package.json
  src/typings/auto-imports.d.ts
Due: prettier --write

fix: ts bug
  package.json
  src/assets/styles/base.css
  src/assets/styles/custom.scss
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
  src/components/Calendar/locale/en-US.ts
  src/components/Calendar/locale/index.ts
  src/components/Calendar/locale/zh-CN.ts
  src/components/Calendar/readme.md
  src/components/ColorPicker/index.scss
  src/components/Configure.mdx
  src/components/Message/MessageProvider.scss
  src/components/MutateObserver/hook/index.ts
  src/components/OnBoarding/index.scss
  src/components/Popover/index.css
  src/components/Upload/index.scss
  src/utils/echarts/index.ts
  src/utils/getEnv.ts
  stylelint.config.js
Due: prettier --write, stylelint --fix

fix: ts bug
  .docs/.vitepress/utils/serverUtils.ts
Due: prettier --write

feat: keepAlive
  .storybook/.stories/KeepAlive.stories.tsx
  eslint.config.js
  src/components/KeepAlive/KeepAliveContext.tsx
  src/components/KeepAlive/KeepAliveLayout.tsx
  src/components/KeepAlive/index.ts
  src/components/KeepAlive/index.tsx
  src/components/KeepAlive/types/index.ts
  src/components/KeepAlive/useKeepOutLet.tsx
Due: prettier --write

feat: keepAlive
  .storybook/.stories/Hook.stories.tsx
Due: prettier --write

perf: eslint.config.js
  eslint.config.js
Due: prettier --write

perf: eslint.config.js
  package.json
Due: none

perf: 修改包依赖,使storybook这种未使用vite打包的正常运行
  package.json
  pnpm-lock.yaml
Due: none

perf: 合并vite.config
  .storybook/main.ts
  vite.config.ts
Due: prettier --write

perf: 合并vite.config
  vite.config.ts
Due: prettier --write

perf: 合并vite.config
  .gitignore
  .storybook/main.ts
Due: prettier --write

perf: 合并vite.config
  .env
Due: none

perf: 合并vite.config
  .storybook/main.ts
Due: prettier --write

perf: 合并vite.config
  .env
  .storybook/main.ts
Due: prettier --write

perf: 合并vite.config
  .storybook/main.ts
  src/constants/index.ts
  src/utils/getEnv.ts
  vite.config.ts
Due: prettier --write

feat: zustand
  src/hooks/myZustand.ts
Due: prettier --write

perf: 补充注释
  .storybook/.stories/ConfigProvider.stories.tsx
  src/components/Calendar/components/MonthCalendar.tsx
  src/components/CopyToClipboard/index.tsx
  src/components/MutateObserver/index.tsx
  src/components/Portal/index.tsx
Due: prettier --write

perf: 修改命令
  .lintstagedrc.json
Due: none

perf: 修改目录结构
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/App.tsx
  src/components/ColorPicker/ColorPickerPanel/Palette.tsx
  src/components/ColorPicker/ColorPickerPanel/index.tsx
  src/components/ColorPicker/utils.ts
  src/router/index.tsx
  tailwind.config.js
Due: prettier --write

perf: 修改目录结构
  postcss.config.js
Due: prettier --write

fix: somebug
  src/components/Calendar/components/MonthCalendar.tsx
Due: prettier --write

feat: 修改文件
  package.json
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md}
  stylelint --fix: any of: *.{css,scss,less}
