Repository componentProject/react-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 规范代码
  .lintstagedrc.json
  src/components/Calendar/components/Header.tsx
  src/components/Calendar/components/MonthCalendar.tsx
  src/components/Calendar/index.tsx
  src/components/Calendar/stories/Calendar.stories.tsx
  src/components/ConfigProvider/index.tsx
  src/components/ConfigProvider/stories/ConfigProvider.stories.tsx
  src/components/CopyToClipboard/index.tsx
  src/components/CopyToClipboard/stories/CopyToClipboard.stories.tsx
  src/components/Icon/index.tsx
  src/components/Icon/stories/Icon.stories.tsx
  src/components/IconFont/index.tsx
  src/components/IconFont/stories/Iconfont.stories.tsx
  src/components/MutateObserver/index.tsx
  src/components/MutateObserver/stories/MutateObserver.stories.tsx
  src/components/Portal/index.tsx
  src/components/Portal/stories/Portal.stories.tsx
  src/components/Space/index.tsx
  src/components/Space/stories/Space.stories.tsx
  src/main.tsx
  src/router/index.tsx
Due: eslint --fix, prettier --write

feat: 规范代码
  .cache/storybook/default/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-3920d97c51b8ad2521918fb1205babd22b0ed3d7
  .cache/storybook/default/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-43fdebe5fc35e4e9fabee9a83c7faea931b05ea0
  .cache/storybook/default/dev-server/a5a8bf6e622aef57065c6498611f40c911543d7d-f086b87885981c04ce7a583ff90a49313de83de7
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/components/Calendar/locale/interface.ts
  src/typings/global.d.ts
  src/utils/util.ts
  stylelintrc.js
Due: eslint --fix, prettier --write

feat: 规范代码
  src/components/ConfigProvider/index.tsx
  src/components/Icon/index.tsx
Due: eslint --fix, prettier --write

feat: 规范代码
  src/App.css
  src/index.css
Due: stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 规范代码
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/assets/styles/main.css
  src/assets/styles/tailwind.scss
  src/components/Calendar/index.scss
  src/components/Icon/index.scss
  src/components/Space/index.scss
  stylelint.config.js
Due: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 规范代码
  package.json
  pnpm-lock.yaml
  stylelint.config.js
Due: eslint --fix, prettier --write

feat: 规范代码
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  package.json
Due: none

feat: 规范代码
  .husky/.gitignore
  package.json
Due: none

feat: 补充类型
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/Calendar/components/Header.tsx
  src/components/Calendar/stories/Calendar.stories.tsx
  src/components/ConfigProvider/stories/ConfigProvider.stories.tsx
  src/components/CopyToClipboard/index.tsx
  src/components/CopyToClipboard/stories/CopyToClipboard.stories.tsx
  src/components/CopyToClipboard/types/index.ts
  src/components/Icon/stories/Icon.stories.tsx
  src/components/IconFont/stories/Iconfont.stories.tsx
  src/components/MutateObserver/stories/MutateObserver.stories.tsx
  src/components/Portal/stories/Portal.stories.tsx
  src/components/Space/stories/Space.stories.tsx
  src/components/Watermark/index.tsx
  src/components/Watermark/stories/Watermark.css
  src/components/Watermark/stories/Watermark.stories.tsx
  src/components/Watermark/types/index.ts
  src/components/Watermark/useWatermark.ts
  tsconfig.app.json
Due: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 添加水印
  src/components/ConfigProvider/stories/ConfigProvider.stories.tsx
  src/components/Watermark/hooks/useWatermark.ts
  src/components/Watermark/index.tsx
  src/components/Watermark/stories/Watermark.css
  src/components/Watermark/stories/Watermark.stories.tsx
  src/components/Watermark/types/index.ts
  tsconfig.app.json
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 添加lazyload
  eslint.config.js
  src/components/LazyLoad/index.tsx
  src/components/LazyLoad/stories/Guang.tsx
  src/components/LazyLoad/stories/LazyLoad.stories.tsx
  src/components/LazyLoad/stories/img1.png
  src/components/LazyLoad/stories/img2.png
  src/components/LazyLoad/types/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: 抽离所有storie,方便接入vitepress
  src/components/Space/stories/Space.css
  stories/Calendar.stories.tsx
  stories/ConfigProvider.stories.tsx
  stories/CopyToClipboard.stories.tsx
  stories/Icon.stories.tsx
  stories/Iconfont.stories.tsx
  stories/LazyLoad.stories.tsx
  stories/MutateObserver.stories.tsx
  stories/Portal.stories.tsx
  stories/Space.stories.tsx
  stories/Watermark.stories.tsx
  stories/assets/images/img1.png
  stories/assets/images/img2.png
  stories/assets/styles/Space.css
  stories/components/Guang.tsx
  tsconfig.app.json
Due: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

feat: 工程化
  installAll.sh
  package.json
  pnpm-lock.yaml
Due: none

feat: a
  pnpm-lock.yaml
Due: none

refactor: 修改所有项目gitignore文件
  .gitignore
  pnpm-lock.yaml
Due: none

refactor: 重构stories结构
  .stories/Calendar.stories.tsx
  .stories/ConfigProvider.stories.tsx
  .stories/CopyToClipboard.stories.tsx
  .stories/Icon.stories.tsx
  .stories/Iconfont.stories.tsx
  .stories/LazyLoad.stories.tsx
  .stories/MutateObserver.stories.tsx
  .stories/Portal.stories.tsx
  .stories/Space.stories.tsx
  .stories/Watermark.stories.tsx
  .stories/assets/images/img1.png
  .stories/assets/images/img2.png
  .stories/assets/styles/Space.css
  .stories/components/Guang.tsx
  .storybook/main.ts
  package.json
Due: eslint --fix, prettier --write, stylelint --cache --fix --cache-location node_modules/.cache/stylelint/

perf: 新增vite-press
  .docs/.vitepress/config.ts
  .docs/api-examples.md
  .docs/index.md
  .docs/markdown-examples.md
Due: eslint --fix, prettier --write

Create algolia.yml
  .github/workflows/algolia.yml
Due: none

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

perf: 测试工作流
  .github/workflows/algolia.yml
  .github/workflows/deploy.yml
Due: none

perf: 测试工作流
  .github/workflows/deploy.yml
Due: none

perf: 测试工作流
  .gitignore
  pnpm-lock.yaml
Due: none

perf: 测试工作流
  .docs/.vitepress/config.ts
  .gitignore
Due: eslint --fix, prettier --write

perf: 测试工作流
  .github/workflows/deploy-vitepress.yml
Due: none

perf: 测试工作流
  .github/workflows/algolia.yml
  crawlerConfig.json
Due: none

perf: 测试工作流
  .github/workflows/algolia.yml
  .github/workflows/deploy-vitepress.yml
  crawlerConfig.json
Due: none

perf: 测试工作流
  .github/workflows/deploy-vitepress.yml
  .gitignore
Due: none

perf: 测试工作流
  .docs/.vitepress/config.ts
  .github/workflows/algolia.yml
  .github/workflows/deploy-vitepress.yml
  crawlerConfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

perf: 测试工作流
  .github/workflows/algolia.yml
Due: none

perf: 修改readme
  .docs/.vitepress/config.ts
  README.md
Due: eslint --fix, prettier --write

perf: 修改readme
  README.md
Due: eslint --fix, prettier --write

perf: 修改流水线
  .github/workflows/deploy-vitepress.yml
  algolia.json
Due: none

perf: 修改流水线
  .docs/.vitepress/config.ts
Due: eslint --fix, prettier --write

perf: 修改流水线
  .github/workflows/algolia.yml
  .github/workflows/deploy-vitepress.yml
  crawlerConfig.json
Due: none

perf: 修改流水线
  .github/workflows/deploy-vitepress.yml
Due: none

perf: 修改流水线
  .github/workflows/deploy-storybook.yml
  .github/workflows/deploy-vitepress.yml
  package.json
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,vue,md}
  prettier --write: any of: *.{js,jsx,ts,tsx,vue,md}
  stylelint --cache --fix --cache-location node_modules/.cache/stylelint/: any of: *.{css,scss,less,vue}
