Repository componentProject/react-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": [
		"eslint --fix",
		"prettier --write *.{js,jsx,ts,tsx}"
	],
	"*.{css,scss,less}": [
		"stylelint --fix"
	]
}

feat: 添加腾讯云托管
  cloudbaserc.json
  cloudfunctions/helloworld/index.js
  cloudfunctions/helloworld/package.json
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: 修改commitlint
  commitlint.config.js
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: tailwind修改
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

Revert "feat: tailwind修改"
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: tailwind修改
  src/assets/styles/tailwind.scss
Due: stylelint --fix

feat: 优化文件结构
  .lintstagedrc.json
  package.json
Due: none

build: 尝试新打包器
  package.json
Due: none

build: 新打包器不兼容，取消
  package.json
Due: none

build: 添加cdn
  .docs/.vitepress/typings/auto-imports.d.ts
  .storybook/main.ts
  package.json
  src/constants/index.ts
  src/utils/getEnv.ts
  src/utils/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 添加cdn
  package.json
Due: none

build: 优化
  .docs/.vitepress/config.ts
  src/constants/index.ts
  tsconfig.node.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  package.json
  tsconfig.node.json
Due: none

build: 优化
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/rss.ts
  tsconfig.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  .docs/.vitepress/utils/rss.ts
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  .docs/.vitepress/config.ts
  .docs/.vitepress/typings/auto-imports.d.ts
  package.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

build: 优化
  .docs/.vitepress/config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: 优化ts
  tsconfig.app.json
Due: none

feat: 优化ts
  tsconfig.app.json
  tsconfig.docs.json
  tsconfig.node.json
Due: none

feat: 优化ts
  tsconfig.app.json
  tsconfig.node.json
Due: none

feat: 更新配置
  .env
  .gitignore
  env.d.ts
  package.json
  plugins/addScopedAndReplacePrefix.ts
  src/typings/auto-imports.d.ts
  src/typings/global.d.ts
  src/typings/plugins.d.ts
  src/typings/window.d.ts
  src/utils/index.ts
  src/utils/modules/echarts/index.ts
  src/utils/modules/getEnv.ts
  src/utils/modules/is/index.ts
  src/utils/util.ts
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: 更新配置
  .env
  env.d.ts
  src/utils/modules/getEnv.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: 更新配置
  tsconfig.app.json
  tsconfig.node.json
Due: none

feat: 更新配置
  tsconfig.app.json
Due: none

feat: 更新配置
  .storybook/main.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

feat: 更新配置
  src/utils/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

fix: 修复导入bug
  src/components/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

fix: 修复插件bug
  plugins/addScopedAndReplacePrefix.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

fix: 添加依赖
  package.json
  src/components/Playground/PlaygroundContext.tsx
  src/components/Playground/templates/basic/App.tsx
  src/components/Playground/templates/basic/index.ts
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}

fix: 修复bug
  .docs/.vitepress/theme/components/layout/components/Comments.vue
Due: none

build: 重构 tsconfig 配置并新增 Storybook 相关配置
  .storybook/.stories/Upload.stories.tsx
  tsconfig.docs.app.json
  tsconfig.docs.json
  tsconfig.docs.node.json
  tsconfig.json
  tsconfig.storybook.app.json
  tsconfig.storybook.node.json
Due: eslint --fix, prettier --write *.{js,jsx,ts,tsx}
