Repository componentProject/react-component: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

.lintstagedrc.json:

{
	"*.{js,jsx,ts,tsx}": [
		"eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}",
		"prettier --write *.{js,jsx,ts,tsx}"
	],
	"*.{css,scss,less}": [
		"stylelint --fix *.{css,scss,less}"
	]
}

feat: 修改文件
  pnpm-lock.yaml
Due: none

perf: 优化布局
  .docs/.vitepress/config.ts
  .docs/.vitepress/theme/components/Archives.vue
  .docs/.vitepress/theme/components/Tags.vue
  .docs/.vitepress/theme/components/layout/components/Category.vue
  .docs/.vitepress/theme/components/layout/components/Comments.vue
  .docs/.vitepress/theme/components/layout/components/CopyWright.vue
  .docs/.vitepress/theme/components/layout/components/HomeHero.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/FireWorksAnimation.vue
  .docs/.vitepress/theme/components/layout/components/Page/components/ShareCard.vue
  .docs/.vitepress/theme/components/layout/components/Page/index.vue
  .docs/.vitepress/theme/components/layout/components/Title.vue
  .docs/.vitepress/theme/components/layout/index.vue
  .docs/.vitepress/theme/custom.css
  .docs/.vitepress/typings/auto-imports.d.ts
  package.json
  src/assets/styles/tailwind.scss
  stylelint.config.js
  tsconfig.app.json
  tsconfig.docs.json
  tsconfig.json
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

perf: 优化布局
  vite.config.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 修改shadcn目录
  .lintstagedrc.json
  eslint.config.js
  package.json
  server/uploadFile.js
  tsconfig.node.json
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 修改shadcn目录
  .lintstagedrc.json
Due: none

perf: 修改shadcn目录
  .eslintignore
  .lintstagedrc.json
  eslint.config.js
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 修改shadcn目录
  package.json
  src/components/Calendar/index.scss
Due: stylelint --fix *.{css,scss,less}

perf: 修改tailwind & todolist
  .gitignore
  .storybook/.stories/TodoList.stories.tsx
  package.json
  src/assets/styles/tailwind.scss
  src/components/ColorPicker/index.scss
  src/components/TodoList/Gap.tsx
  src/components/TodoList/GarbageBin.tsx
  src/components/TodoList/Item.tsx
  src/components/TodoList/List.tsx
  src/components/TodoList/NewItem.tsx
  src/components/TodoList/index.tsx
  src/components/TodoList/store.ts
  stylelint.config.js
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

perf: 修改commitlint配置
  commitlint.config.js
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 补充注释
  src/components/IntlTable/IntlTable.tsx
  src/components/Upload/index.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 补充注释
  package.json
  servers/.gitignore
  servers/index.js
  servers/intlServer.js
  servers/package.json
  servers/uploadFile.js
  src/api/index.js
  src/api/modules/translate.js
  src/components/Form/index.tsx
  src/components/IntlTable/IntlTable.tsx
  src/locales/en-US.ts
  src/locales/en-US.ts.bak
  src/locales/fileSystem.ts
  src/locales/index.ts
  src/locales/messages.ts.bak
  src/locales/zh-CN.ts
  src/locales/zh-CN.ts.bak
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 补充注释
  .storybook/main.ts
  src/api/index.js
  src/api/modules/translate.js
  src/components/IntlTable/IntlTable.tsx
  src/locales/zh-CN.ts
  vite.config.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 测试提交
  .eslintignore
  eslint.config.js
  package.json
  servers/intlServer.js
  src/components/ColorPicker/ColorPickerPanel/Palette.tsx
  src/components/ColorPicker/index.scss
  src/components/CopyToClipboard/index.tsx
  src/components/Form/index.tsx
  src/components/IntlTable/EditableCell.tsx
  src/components/IntlTable/IntlTable.tsx
  src/components/TodoList/Item.tsx
  src/components/TodoList/index.tsx
  src/locales/en-US.ts
  tsconfig.app.json
  tsconfig.node.json
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

feat: 优化intlTable
  .storybook/.stories/IntlTable.stories.tsx
  .storybook/main.ts
  .storybook/preview.tsx
  eslint.config.js
  package.json
  src/App.tsx
  src/api/index.js
  src/components/IntlTable/IntlTable.stories.tsx
  src/components/IntlTable/IntlTable.tsx
  src/locales/LanguageContext.tsx
  src/locales/en-US.ts
  src/locales/i18n.ts
  src/locales/index.ts
  src/locales/zh-CN.ts
  src/main.tsx
  tsconfig.app.json
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化intlTable
  servers/intlServer.js
  src/components/IntlTable/IntlTable.tsx
  src/locales/en-US.ts
  src/locales/messages.ts
  src/locales/zh-CN.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 修改intlTable
  .storybook/.stories/IntlTable.stories.tsx
  .storybook/preview.tsx
  src/locales/LanguageContext.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 项目同步
  .storybook/.stories/IntlTable.stories.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 修改colorPicker
  package.json
  src/components/ColorPicker/ColorPickerPanel/Palette.tsx
  src/components/ColorPicker/ColorPickerPanel/index.tsx
  src/components/ColorPicker/Handler.tsx
  src/components/ColorPicker/Transform.tsx
  src/components/ColorPicker/index.scss
  src/components/ColorPicker/interface.ts
  src/components/ColorPicker/useColorDrag.ts
  src/components/ColorPicker/utils.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

perf: 修改calendar中遍历缺少key的问题
  src/components/Calendar/components/MonthCalendar.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

perf: 删除无用文件
  .storybook/.stories/IntlTable.stories.tsx
  src/components/IntlTable/IntlTable.stories.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

style: 修复样式问题
  src/components/ColorPicker/index.scss
Due: stylelint --fix *.{css,scss,less}

style: 修复样式问题
  src/components/TodoList/Item.tsx
  src/components/TodoList/index.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 代码编辑器,低代码初版
  src/components/Playground/templates/basic/App.css
  src/components/Playground/templates/basic/App.tsx
  src/components/Playground/templates/basic/import-map.json
  src/components/Playground/templates/basic/index.html
  src/components/Playground/templates/basic/index.ts
  src/components/Playground/templates/basic/main.tsx
  src/components/Playground/templates/hooks/App.css
  src/components/Playground/templates/hooks/App.tsx
  src/components/Playground/templates/hooks/import-map.json
  src/components/Playground/templates/hooks/index.html
  src/components/Playground/templates/hooks/index.ts
  src/components/Playground/templates/hooks/main.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}, stylelint --fix *.{css,scss,less}

feat: 优化代码编辑器
  src/components/Playground/components/CodeEditor/FileNameList/index.tsx
  src/components/Playground/components/CodeEditor/index.tsx
  src/components/Playground/components/Header/index.tsx
  src/components/Playground/components/Preview/compiler.worker.ts
  src/components/Playground/components/Preview/index.tsx
  src/components/Playground/files.ts
  src/components/Playground/templates/basic/index.ts
  src/components/Playground/templates/redux/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化代码编辑器
  src/components/Playground/templates/redux/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化代码编辑器
  src/components/Playground/Playground.tsx
  src/components/Playground/PlaygroundContext.tsx
  src/components/Playground/components/CodeEditor/index.tsx
  src/components/Playground/components/Header/index.tsx
  src/components/Playground/files.ts
  src/components/Playground/templates/basic/index.ts
  src/components/Playground/templates/hooks/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化代码编辑器
  src/components/Playground/components/Header/index.tsx
  src/components/Playground/templates/basic/index.ts
  src/components/Playground/templates/hooks/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 添加注释
  src/components/LowCodeEditor/components/EditArea/index.tsx
  src/components/LowCodeEditor/components/Header/index.tsx
  src/components/LowCodeEditor/components/HoverMask/index.tsx
  src/components/LowCodeEditor/components/Material/index.tsx
  src/components/LowCodeEditor/components/MaterialItem/index.tsx
  src/components/LowCodeEditor/components/MaterialWrapper/index.tsx
  src/components/LowCodeEditor/components/Outline/index.tsx
  src/components/LowCodeEditor/components/Preivew/index.tsx
  src/components/LowCodeEditor/components/SelectedMask/index.tsx
  src/components/LowCodeEditor/components/Setting/index.tsx
  src/components/LowCodeEditor/components/Source/index.tsx
  src/components/LowCodeEditor/index.tsx
  src/components/LowCodeEditor/interface.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 添加注释
  src/components/LowCodeEditor/components/EditArea/index.tsx
  src/components/LowCodeEditor/components/HoverMask/index.tsx
  src/components/LowCodeEditor/components/MaterialItem/index.tsx
  src/components/LowCodeEditor/components/SelectedMask/index.tsx
  src/components/LowCodeEditor/hooks/useAutoScroll.ts
  src/components/LowCodeEditor/hooks/useMaterailDrop.ts
  src/components/LowCodeEditor/materials/Button/dev.tsx
  src/components/LowCodeEditor/materials/Container/dev.tsx
  src/components/LowCodeEditor/materials/Form/dev.tsx
  src/components/LowCodeEditor/materials/Page/dev.tsx
  src/components/LowCodeEditor/materials/Table/dev.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 还原lowCodeEditor
  src/components/LowCodeEditor/components/EditArea/index.tsx
  src/components/LowCodeEditor/components/Header/index.tsx
  src/components/LowCodeEditor/components/HoverMask/index.tsx
  src/components/LowCodeEditor/components/Material/index.tsx
  src/components/LowCodeEditor/components/MaterialItem/index.tsx
  src/components/LowCodeEditor/components/MaterialWrapper/index.tsx
  src/components/LowCodeEditor/components/Outline/index.tsx
  src/components/LowCodeEditor/components/Preivew/index.tsx
  src/components/LowCodeEditor/components/SelectedMask/index.tsx
  src/components/LowCodeEditor/components/Setting/index.tsx
  src/components/LowCodeEditor/components/Source/index.tsx
  src/components/LowCodeEditor/hooks/useAutoScroll.ts
  src/components/LowCodeEditor/hooks/useMaterailDrop.ts
  src/components/LowCodeEditor/index.tsx
  src/components/LowCodeEditor/interface.ts
  src/components/LowCodeEditor/materials/Button/dev.tsx
  src/components/LowCodeEditor/materials/Container/dev.tsx
  src/components/LowCodeEditor/materials/Form/dev.tsx
  src/components/LowCodeEditor/materials/Page/dev.tsx
  src/components/LowCodeEditor/materials/Table/dev.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: lowCodeEditor添加注释
  src/components/LowCodeEditor/components/EditArea/index.tsx
  src/components/LowCodeEditor/components/Header/index.tsx
  src/components/LowCodeEditor/components/HoverMask/index.tsx
  src/components/LowCodeEditor/components/Material/index.tsx
  src/components/LowCodeEditor/components/MaterialItem/index.tsx
  src/components/LowCodeEditor/components/MaterialWrapper/index.tsx
  src/components/LowCodeEditor/components/Outline/index.tsx
  src/components/LowCodeEditor/components/Preivew/index.tsx
  src/components/LowCodeEditor/components/SelectedMask/index.tsx
  src/components/LowCodeEditor/components/Setting/ComponentAttr.tsx
  src/components/LowCodeEditor/components/Setting/index.tsx
  src/components/LowCodeEditor/components/Source/index.tsx
  src/components/LowCodeEditor/hooks/useMaterailDrop.ts
  src/components/LowCodeEditor/index.tsx
  src/components/LowCodeEditor/interface.ts
  src/components/LowCodeEditor/materials/Button/dev.tsx
  src/components/LowCodeEditor/materials/Button/prod.tsx
  src/components/LowCodeEditor/materials/Container/dev.tsx
  src/components/LowCodeEditor/materials/Container/prod.tsx
  src/components/LowCodeEditor/materials/Form/dev.tsx
  src/components/LowCodeEditor/materials/Form/prod.tsx
  src/components/LowCodeEditor/materials/FormItem/dev.tsx
  src/components/LowCodeEditor/materials/FormItem/prod.tsx
  src/components/LowCodeEditor/materials/Modal/dev.tsx
  src/components/LowCodeEditor/materials/Modal/prod.tsx
  src/components/LowCodeEditor/materials/Page/dev.tsx
  src/components/LowCodeEditor/materials/Page/prod.tsx
  src/components/LowCodeEditor/materials/Table/dev.tsx
  src/components/LowCodeEditor/materials/Table/prod.tsx
  src/components/LowCodeEditor/materials/TableColumn/dev.tsx
  src/components/LowCodeEditor/materials/TableColumn/prod.tsx
  src/components/LowCodeEditor/stores/component-config.tsx
  src/components/LowCodeEditor/stores/components.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化playground
  package.json
  src/components/Playground/files.ts
  src/components/Playground/templates/index.ts
  src/components/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 添加代码生成器
  package.json
  src/components/LowCodeEditor/components/CodeGenerator/index.tsx
  src/components/LowCodeEditor/components/Header/index.tsx
  src/components/LowCodeEditor/materials/TableColumn/prod.tsx
  src/components/LowCodeEditor/services/codeGenerator.ts
  src/components/index.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 添加vue代码生成器
  src/components/LowCodeEditor/services/codeGenerator.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化代码生成器
  src/components/LowCodeEditor/components/CodeGenerator/index.tsx
  src/components/LowCodeEditor/services/codeGenerator.ts
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}

feat: 优化代码生成器
  src/components/LowCodeEditor/components/SelectedMask/index.tsx
Due: eslint --fix --no-warn-ignored *.{js,jsx,ts,tsx}, prettier --write *.{js,jsx,ts,tsx}
